.btn {
    width:75px;
}
.imageThumbnail {
    height:200px;
    width:auto;
}

/* Dans la vue index (liste des employes), limite une ligne à 3 employés */
.indexEmployeeContainer {
    min-width: 18rem;
    max-width: 30.5%;
}
